//$disabledText: #393939 !default;
//
//$default: #47948a !default;
//$defaultActive: #41877e !default;
//$defaultBorder: #47948a !default;
//$defaultText: #fff !default;
//
//$danger: #ff5151 !default;
//$dangerActive: #f04d4d !default;
//$dangerBorder: #ff5151 !default;
//$dangerText: #fff !default;
//
//$secondary: #e6e6e6 !default;
//$secondaryActive: #3d3b3a !default;
//$secondaryBorder: #e6e6e6 !default;
//$secondaryText: #fff !default;
//
//$primary: #24c395 !default;
//$primaryText: #fff !default;
//
//$success: #24c395 !default;
//$successText: #fff !default;
